-e .
-e ./plugins/pynite
git+https://github.com/Elandu/OpenWind-AU.git@ec4485c73107029789939594e052663836bd3e2b#egg=openwind-au
git+https://github.com/Elandu/OpenCalcs-AS3600.git@engcalcs-rebrand#egg=engcalcs-as3600
git+https://github.com/Elandu/OpenCalcs-AS4100.git@engcalcs-rebrand#egg=engcalcs-as4100
